*{
    margin: 0p;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-color: rgb(212, 197, 177); */
    display: grid;
    place-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 2rem;
    height: 100vh;
}
.container{
    background-color: rgb(34, 33, 33);
    width: 50vh;
    height: 80vh;
    display: grid;
    padding: 0.8rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 0.5rem 0.5rem rgb(50,50,50,0.75);
}
.wrap{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,1fr);
    font-weight: bold;
}
.input_screen{
    display: grid;
    /* place-content: end; */
    grid-column: 1/-1;
    margin: 0.5rem;
    font-size: 2rem;
    overflow: hidden;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.btn{
    display: grid;
    place-content: center;
    overflow: hidden;
    background-color: grey;
    border-radius: 50%;
    color: white;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: black;
}
.btn:hover{
    cursor: pointer;
    background-color: rgb(138, 131, 131);
}
.light-grey{
    background-color: grey;
    color: black;
}
.light-grey:hover{
    background-color: white;
}
.orange{
    background-color: orange;
}
.orange:hover{
    background-color: white;
    color: orange;
}
.zero{
    grid-column: 1/ span 2;
}
